/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
/* 
1.tu ngoai vao trong 
2. tu tren xuong duoi
3.tu tong quan den chi tiet
 */

/* 
1.vi tri
2.kich thuoc(width , height)
3.mau sac
4.kieu dang (kieu chu , hinh trong , vuong , .....)
 */
.clean {
  clear: both;
}
.text-white {
  color: white !important;
}
#main {
}
#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav li {
  display: inline-block;
  position: relative;
}
#nav > li > a {
  color: white;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}
#nav > li > a:hover,
#nav .subnav li a:hover {
  color: black;
  background-color: #ccc;
}
#nav .subnav {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 100%;
}
#nav .subnav li {
  display: block;
}
#nav .subnav a {
  min-width: 160px;
  display: block;
  padding: 0 14px;
  color: black;
  padding: 0 14px;
  line-height: 36px;
}
#nav li:hover .subnav {
  display: block;
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#header .search-btn {
  float: right;
}
#header .search-btn:hover {
  background-color: red;
  cursor: pointer;
}
#header .search-icon {
  color: white;
  font-size: 20px;
  line-height: 46px;
  padding: 0 31px;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url(./img/chicago.jpg) top center / cover no-repeat;
}
#slider .text-content {
  position: absolute;
  bottom: 48px;
  color: white;
  /* left:50%;
  transform: translateX(-50%); */
  /* right: 0;
  left: 0; */
  width: 100%;
  text-align: center;
}
#slider .text-Chicago {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}
#slider .text-description {
  font-size: 15px;
}
#content {
}
#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}
#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}
#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-style: italic;
  opacity: 0.7;
}
#content .about-content {
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}
#content .member-list {
  margin-top: 48px;
}
#content .member-name {
  font-size: 15px;
}
#content .member-item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  /* width: 33.3333%; */
}
#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 10px;
}
/* Tour section */
.tour-section {
  background-color: black;
}
#content .tickets-list {
  background-color: white;
  margin-top: 40px;
  list-style: none;
}
#content .tickets-list li{
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid black;
  color: #757575;
}
#content .tickets-list .sold-out {
  background-color: red;
  color: white;
  padding: 3px 4px;
  margin-left: 16px;
}
#content .tickets-list .quantity{
  float: right;
  width: 24px;
  height: 24px;
  background-color: black;
  color:#757575;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
/* Footer section */
#footer {
}
